* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100vw;
  background: #eee;
  overflow: hidden;
}

main {
  height: 70vh;
}

@media (min-width: 990px) {
  main {
    height: 100vh;
  }
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  width: 100%;
}

.mySwiper .swiper-slide {
  width: 8rem;
  height: 100%;
  opacity: 0.6;
  transition: all 0.05s ease-in-out;
}

@media (min-width: 990px) {
  .mySwiper .swiper-slide {
    width: 12rem;
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 0.25rem solid #ef8354;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
